.screen-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    padding-top: 50px;
    align-items: center;
    margin-bottom: 10px;
}
.screen__title{
    font-size: 32px;
    font-weight: 600;
}
.screen__icons span{
    margin-left: 25px; 
}
.screen-icons__cog{
    position: relative;
}
.screen-icons__cog-dot {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: tomato;
    left: -3px;
    bottom: 22px;
}
.screen__icons .fa-cog:hover {
    animation: rotatecog 1s linear infinite;
}
@keyframes rotatecog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}